body {
  font-family: "Helvetica Neue", Arial;
  font-weight: 200;
}

h1, h2, h3 {
  font-weight: 100;
}

a {
  color: hsl(200, 50%, 50%);
}

a.active {
  color: hsl(20, 50%, 50%);
}

dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
  font-weight: bold;
  color: green;
}
dt:after {
  content: ":";
}
dd {
  margin: 0 0 0 110px;
  /*padding: 0 0 0.5em 0;*/
}
